@use "../../styles/media-queries" as m;
.project {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 4rem auto;

  @include m.lg {
    & + & {
      margin-top: 10rem;
    }
  }

  @include m.lg {
    max-width: 75%;
  }

  &__video {
    border: 1px solid rgba(white, 0.1);
    border-radius: 3px;
    width: 100vw;
    max-width: 100%;
    margin-top: 1rem;
    min-height: 200px;
    @include m.lg {
      min-height: 500px;
    }
  }

  &__title {
    font-size: 48px;
    font-family: "QuincyCF-Medium";
    @include m.lg {
      font-size: 128px;
    }
  }
}
