@use "../../styles/colors" as c; 
.nav-icon {
  $size: 50px; 
  width: $size;
  height: $size;
  background-color: none;
  margin: 0 2rem;
  margin-left: auto;

  z-index: 9999;

  &__line{
		height: 2px;
		width: $size;
		display: block;
		background-color: c.$ss-white;
		margin-bottom: 4px;
		transition: transform .2s ease;
	}

  &__line.left{
		width: $size / 2;
	}
	&__line.right{
		width: $size / 2;
		float: right;
	}

  &:hover span {
    &.left {
      transform: translateX(50%);
    }
    &.right {
      transform: translateX(-50%);
    }
  }

  &.nav-active{
    .nav-icon{
      &__line.left{
        transform: translateX(100%);
      }
      &__line.right{
        transform: translateX(-100%);
      }
    }
  }
}
