@use "./colors" as c;
/* Fonts */
@font-face {
  font-family: "Andale Mono";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url(/fonts/AndaleMono.ttf) format("ttf");
}

@font-face {
  font-family: "QuincyCF-Medium";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url(/fonts/QuincyCF-Medium.otf) format("otf");
}
$ss-display: QuincyCF-Medium, BlinkMacSystemFont, sans-serif;
$ss-body: Andale Mono, BlinkMacSystemFont, sans-serif;

body {
  overflow: hidden;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: c.$ss-black;
  min-height: 100%;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: "QuincyCF-Medium";
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: c.$ss-black;
  color: c.$ss-white;
  margin: 0;

  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: c.$ss-white;
  font-family: "QuincyCF-Medium";
}

p,
span {
  font-family: "Andale Mono";
}

button {
  display: inline-block;
  border: none;
  margin: 0;
  padding: 0;
  font-family: "QuincyCF-Medium";
  font-size: 1rem;
  line-height: 1;
  background: transparent;
  -webkit-appearance: none;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar,
scrollbar {
  background-color: rgba(
    c.$ss-black,
    0.3
  ); /* background color of the scrollbar */
  width: 12px;
}

// /* for the thumb (the part that you drag) */
::-webkit-scrollbar-thumb,
scrollbar thumb {
  background-color: rgba(c.$ss-white, 0.3); /* color of the thumb */
  border-radius: 10px; /* roundness of the thumb */
}
