@use "../../../styles/colors" as c; 
@use "../../../styles/media-queries" as m; 

$fade-in-length: 700ms; 
.is-visible {
  opacity: 1 !important;
}

.scroll-composition {
  &__hero {
    min-height: 100vh;
    width: 100%;
    transition: opacity $fade-in-length ease;
    opacity: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    padding: 1rem;
    @include m.lg {
      padding: 3rem;
    }
}

  &__hero-content {
    font-size: 18px;
    width: 100%;
    max-width: 400px;
    color: c.$ss-white;
    @include m.lg {
      font-size: 5vw;
      width: 100%;
      max-width: 33%;
    }
  }

  &__hero-title {
    max-width: 100%;
  }

  &__hero-sub {
    color: c.$ss-white;
    font-size: 18px;
    @include m.lg {
      font-size: 24px;
    }
  }

  &__contact {
    min-height: 100vh;
    width: 100%;
    transition: opacity $fade-in-length ease;
    opacity: 0;
  }
  
  &__about {
    min-height: 100vh;
    width: 100%;
    transition: opacity $fade-in-length ease;
    opacity: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    padding: 1rem;
    @include m.lg {
      padding: 3rem;
    }
    color: c.$ss-white;
    & > h2 {
      width: 100%;
      max-width: 100%;
      margin-bottom: 2rem;
      font-size: 68px;
      @include m.lg {
        max-width: 50%;
        font-size: 128px;
      }
    }
    & > p {
      width: 100%;
      font-size: 18px;
      max-width: 85%;
      margin-left: 2rem;
      @include m.lg {
        margin-left: 6rem;
        font-size: 24px;
        max-width: 50%;
      }

    }
  }
}
