@use "../../../styles/colors" as c;
.featured-section {
  &__content-wrapper {
    padding: 3rem;
    padding-top: 10rem;
    margin-left: auto;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__item-btn {
    color: c.$ss-white;
    padding: 20px;
    font-size: 67px;
  }
}
