@use "../styles/media-queries" as m;
.about {
  width: 100%;
  padding: 0 1rem;
  @include m.md {
    max-width: 1440px;
    width: 85%;
    margin: 0 auto;
  }
  &__splash-wrapper {
    padding: 5rem 0;
    @include m.md {
      padding: 3rem 0;
    }
    & > p {
      font-size: 20px;
      line-height: 160%;
      @include m.md {
        font-size: 24px;
      }
    }
  }
  &__title-img-block {
    display: flex;
    flex-direction: column;
    & > img {
      align-self: flex-end;
      width: 12rem;
      max-width: 100px;
      @include m.md {
        max-width: 175px;
      }
    }
    & > h2 {
      font-size: 38vw;
      line-height: 70%;
      margin-bottom: 4rem;
      @include m.md {
        font-size: 18.75rem;
        margin-bottom: 8rem;
      }
    }
  }
}
